Makefile*
config.h
crimesquad
*.o
*.dirstamp

aclocal.m4
autom4te.cache/

configure
depcomp
install-sh
missing
.deps/
stamp-h1
compile
config.log
config.status
config.h.in
*~

/workspaces/Debug/*
/workspaces/Release/*.obj
/workspaces/Release/*.tlog
/workspaces/game.sdf
/workspaces/game.v11.suo
/workspaces/Release/*.pdb
game.layout
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Liberal-Crime-Squad/v16/Browse.VC.db
/.vs/Liberal-Crime-Squad/v16/.suo
/workspaces/.vs/game/v16/.suo
/workspaces/.vs/game/v16/ipch/AutoPCH/fae51fe81e2ed609/ACTIVATE.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/d5a481319e532c44/CURSESALTERNATIVE.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/c9afbbd3aeb017b4/NEWGAME.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/a42f6e51d45f5efe/COMPAT.ipch
/workspaces/.vs/game/v16/Browse.VC.opendb
/workspaces/.vs/game/v16/Browse.VC.db
/workspaces/gamelog.txt
/workspaces/xmllog
/workspaces/.vs/game/v16/ipch/AutoPCH/f2343237f854f844/CHASE.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/eb3595819f61d4ec/GAME.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/e03d475c1e6a85bd/ITEM.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/c35a4ad2de4d5a90/BASEACTIONS.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/b283b8fd6ad9810/LCSIO.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/a6b2bf716d1436c2/GLOBALS.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/60c919896372cd49/SAVELOAD.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/52007e472cfc1b3c/JUSTICE.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/3eb31f30a877e1e/NEWS.ipch
/workspaces/.vs/game/v16/ipch/AutoPCH/34d4d9e84119216a/TITLESCREEN.ipch
